package views
import "kevin-portfolio/htmx-templ/views/partials"

templ Index(name string) {
    <html>
        <head>
            <title>testest</title>
            <script src="https://unpkg.com/htmx.org@1.9.12"></script>
             <script src="https://cdn.tailwindcss.com/3.3.5"></script>
        </head>
        <body class="h-full w-full">
            @partials.Home()
        </body>
    </html>
}

