package views
import "kevin-portfolio/views/partials"

templ Index() {
    <html>
        <head>
            <title>testest</title>
            <script src="https://unpkg.com/htmx.org@1.9.12"></script>
            <link href="/static/output.css" rel="stylesheet">
        </head>
        <body class="h-full w-full">
            @partials.Terminal()
        </body>
    </html>
}

