package views
import "kevin-portfolio/views/partials"

templ Index() {
    <html>
        <head>
            <title>Kevin Tran</title>
            <script type="application/javascript" src="/htmx/htmx.js"></script>
            <link href="/static/output.css" rel="stylesheet">
        </head>
        <body class="h-full w-full">
            @partials.Terminal()
        </body>
    </html>
}

